Jenkinsfile
job.html
job.org
/node_modules*
package-lock.json
figwheel_server.log
/target
/docs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/log
/pkg
/tasks
*org-src-fontification:clojure-mode*
var/*
resources/import
profiles.clj
checkouts.off
dev-resources/*.png
dev-resources/*.html
dev-resources/*.odt
hs_err_pid*.log
dev-resources/*.edn
resources/cached/*
resources/public/js/compiled
resources/public/js/compiled/*
resources/public/js/compiled/out/*
resources/cache
node_modules/*
.sass-cache/*
